
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron">
    <img src="~/Content/Images/Engagements-6.jpg" />
    <br />
    @Html.ActionLink("Teams", "Index", "Teams",new { @class = "btn btn-default" })

    <br />
    @Html.ActionLink("Player", "Index", "Players", new { @class = "btn btn-default" })
    <br />
    @Html.ActionLink("Position", "Index", "Positions", new { @class = "btn btn-default" })

</div>

