
@{
    ViewBag.Title = "Index";
}



<body>

    <h2>Index</h2>


    <div class="jumbotron">
        Maintenance:
        <br />
        @Html.ActionLink("Customer", "Index", "Customer")
        <br />
        @Html.ActionLink("Media Types", "Index", "Media_Type")
        <br />
        @Html.ActionLink("Geners", "Index", "Genre")
        <br />
        @Html.ActionLink("Movies", "Index", "Movie_Info")

    </div>
    <img src="~/Content/Images/jolly-roger-flag-vector-16011784.jpg" />

    </body>