<body>
    

    <div>
        
       @ViewBag.greeting USER
        <p>
            You are invited to my party, it will be fun but you have to go RSVP to come ^-^
        </p>

        @Html.ActionLink("RSVP now", "RSVPForm")

    </div>


</body>