
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron">
    @Html.ActionLink("Make a marker", "Make", "Make_expo")
    <br />
    @Html.ActionLink("view list", "View_it", "Handel_list")
    <br />
    @Html.ActionLink("defult", "Index", "Defualt")
</div>

