
@{
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>
</head>
<body>
    <div>
        <!--@Html.Raw((String)ViewBag.Team_names)-->
        @Html.Raw((String)ViewBag.Output)
    </div>
    <div>

        <!--table id="customers">
        <tr>
            <th>
                team!!!!!-----WWWW
            </th>
        </tr>

            @foreach (var o_team in ViewBag.tls)
            {   <tr>
                    <td>

                    </td>
                    <td> @o_team.team_name</td>
                    <td> @o_team.team_points </td>
                </tr>
            }

    </!--table> -->


    </div>
</body>
</html>
